.row{
    padding: 10px;
}
.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .reservation {
    border: 1px solid #0313f7;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
.remove-button {
    position: relative;
    align-items: center;
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    border-radius: 510px;
}